<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Brand:</strong>
    <%= vehicle.brand_id %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= vehicle.vehicle_type_id %>
  </p>

  <p>
    <strong>Segment:</strong>
    <%= vehicle.segment_id %>
  </p>

  <p>
    <strong>Registration year:</strong>
    <%= vehicle.registration_year %>
  </p>

  <p>
    <strong>Registration month:</strong>
    <%= vehicle.registration_month %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= vehicle.mileage %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= vehicle.price %>
  </p>

  <p>
    <strong>Fuel type:</strong>
    <%= vehicle.fuel_type_id %>
  </p>

  <p>
    <strong>Power hp:</strong>
    <%= vehicle.power_hp %>
  </p>

  <p>
    <strong>Engine size:</strong>
    <%= vehicle.engine_size %>
  </p>

  <p>
    <strong>Transmission:</strong>
    <%= vehicle.transmission_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= vehicle.color %>
  </p>

  <p>
    <strong>Doors:</strong>
    <%= vehicle.doors %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= vehicle.condition_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vehicle.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vehicle.status %>
  </p>

</div>
