<div id="<%= dom_id vehicle_image %>">
  <p>
    <strong>Vehicle:</strong>
    <%= vehicle_image.vehicle_id %>
  </p>

  <p>
    <strong>Image path:</strong>
    <%= vehicle_image.image_path %>
  </p>

  <p>
    <strong>Primary image:</strong>
    <%= vehicle_image.primary_image %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= vehicle_image.position %>
  </p>

</div>
