<!DOCTYPE html>
<html>
<head>
  <title>Standclone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# Carrega os arquivos CSS %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

  <%# Carrega os arquivos JavaScript %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>
<body>
  <%= yield %>
</body>
</html>